[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = @@C_VALUE@@, for example NL
ST = @@ST_VALUE@@, for example Noord-Holland
L = @@L_VALUE@@, for example Amsterdam
O = @@O_VALUE@@, for example Outflank B.V.
OU = @@OU_VALUE@@, for example IT-OPS
CN = @@CN_VALUE@@, for example outflank.nl
emailAddress = @@EMAIL_VALUE@@, for example totallynotavirus@outflank.nl

[v3_ca]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:TRUE

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
# Enter the valid IP or DNS where the teamservers and redirectors can reach your ELK server in the fields below. If not done correclty, Logstash on your ELK server will crash with cryptic errors.
@@ALT_NAMES@@
